.buttons-wrapper {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(3, 65px);
  justify-content: space-between;
  padding: 0 17px 0 17px;
}

.buttons {
  height: 65px;
  width: 65px;
  border-radius: 36px;
  border: 4px double black;
}

.lap-reset-button {
  opacity: 0.6;
  background-color: var(--lap-reset-bg-color);
  color: #b5b5b9;
}

.lap-active {
  background-color: var(--lap-reset-bg-color);
  color: var(--white);
}

.lap-active:hover {
  opacity: 0.6;
}

.reset-active {
  background-color: var(--lap-reset-bg-color);
  color: var(--white);
}

.reset-active:hover {
  opacity: 0.6;
}

.start-button {
  background-color: var(--start-button-bg-color);
  color: var(--start-button-text-color);
}

.start-button:hover {
  opacity: 0.6;
}

.stop-button {
  background-color: var(--stop-button-bg-color);
  color: var(--stop-button-text-color);
}

.stop-button:hover {
  opacity: 0.6;
}
