.lap-table-section {
  background-color: black;
  width: var(--screen-width);
  height: 246px;
  overflow: auto;
  -ms-overflow-style: none;
  overscroll-behavior: auto;
}

.lap-table-section::-webkit-scrollbar {
  display: none;
}

table {
  width: 100%;
  padding: 10px 16px 0 16px;
}

.first-lap {
  border-top: solid 0.1px gray;
}

tr {
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.1px gray;
  font-variant-numeric: tabular-nums;
  color: var(--white);
}

.fastest-lap {
  color: var(--start-button-text-color);
}

.slowest-lap {
  color: var(--stop-button-text-color);
}
