#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  overscroll-behavior: none;
}

.main-timer-section {
  background-color: black;
  width: var(--screen-width);
  height: 327px;
  display: grid;
  grid-template-rows: 35px 1fr 70px;
  align-items: end;
}

.main-timer-section h1 {
  font-size: 65px;
  font-variant-numeric: tabular-nums;
  font-weight: 200;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #141415;
  width: var(--screen-width);
  height: 66px;
  overflow: hidden;
  padding-bottom: 5px;
}

.footer img {
  margin-top: 7px;
  width: 345px;
  height: 60px;
}

.double-dot {
  display: grid;
  grid-template-columns: 18px 18px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.dot--1 {
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background-color: var(--white);
}

.dot--2 {
  opacity: 0.5;
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background-color: var(--white);
}
